body {
  margin: 0;
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background-color: var(--el-fill-color-blank);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
}

a.router-link:link,
a.router-link:hover,
a.router-link:active,
a.router-link:visited {
  color: var(--el-color-primary);
}

a.router-link:link,
a.router-link:active,
a.router-link:visited {
  text-decoration: none;
}

a.router-link:hover {
  text-decoration: underline;
}

.toolbar button {
  border: none;
  border-radius: 0;
  background: none;
  padding: 8px;
}
